*{
    font-family: 'Corben';

}
.textP2{
    font-size: 2.7vw;
}
#P2T1{
    font-size: 4vw;
    /* border:2px solid white; */

}
#P2D1{
    width:90%;
    /* border: 2px solid white; */
    display: flex;
    position: relative;
    margin-top: 10%;
}
#total-P2{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#P2T2{
    width: 55vw;
    /* border: 2px solid white; */
    text-align: center;
    height: 30vw;
    position: absolute;
    z-index: 2;
    margin-top: 10%;
    top: 0;
    left: 0;
    font-size: 3.5vw;
}
#P2T3{
    width: 50vw;
    height: 18vw;
    font-size: 3.5vw;
    /* border: 2px solid white; */
    text-align: center;
    position: absolute;
    z-index: 2;
    margin-top: 55%;
    top: 0;
    left: 0;
}
#P2I1{
    height: 70vw;
    width: 50vw;
    display: inline-block;
    margin: 0 auto;
    /* border: 2px solid white; */
    /* margin-left: 20%; */
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    margin-left: 55%;
}
.img2{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}
#P2D2 h1{
    /* border: 2px solid white; */
    width: 70vw;
    height: 13vw;
    font-size: 3.7vw;
    text-align: center;
}
.logo-img{
    height: 10vh;
    width: 10vw;
    /* border: 2px solid white; */
}
#P2D3{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(49, 43, 87); */
    width: 100vw;
    height: 14vh;
    background-color: #d6d1d1;
}
#P2D2{
    width: 100vw;
    background-color: #d6d1d1;
    height: 20vh;
    /* font-size: 32px; */
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    color: black;
}
#cog{
    background-color: black;
}

@media screen and (max-width:1100px) {
    #P2D2{
        border: 3px solid red;
        height: 15vh;
    }
    #P2D3{
        height:12vh ;
    }
    .logo-img{
        height: 12vh;
        width: 12vw;
    }
    
}
@media screen and (max-width:800px) {
    #P2D2{
        border: 3px solid rgb(229, 118, 137);
        height: 15vh;
    }
    #P2D2 h1{
        
        font-size: 5vw;
    }
    #P2D3{
        height:12vh ;
    }
    .logo-img{
        height: 10vh;
        width: 15vw;
    }
    
}
@media screen and (max-width:600px) {
    #P2D2{
        border: 3px solid rgb(94, 42, 182);
        height: 13vh;        
    }
    #P2D2 h1{
        font-size: 5.5vw;
        width: 100vw;
        
    }
    #P2D3{
        height:12vh ;
    }
    .logo-img{
        height: 10vh;
        width: 18vw;
    }
    
}
@media screen and (max-width:450px) {
    #P2D2{
        border: 3px solid rgb(80, 164, 61);
        height: 11vh;        
    }
    #P2D2 h1{
        font-size: 6vw;
        width: 100vw;
        
    }
    #P2D3{
        height:12vh ;
    }
    
    .logo-img{
        height: 8vh;
        width: 20vw;
    }
}
